header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8B1414;
    background-image: url('../../assets/estrelaNeve.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;

}

.secaoLogo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 32%;

    img {
        width: 20%;
    }

    h1{
        font-size: 40px;
        font-family: 'Great Vibes', serif;
        font-weight: 400;
        font-style: normal;
        color: #E4EEF1;
    }

}

.secaoNav {
    width: 38%;

    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li{
            font-size: 40px;
            font-family: 'Great Vibes', serif;
            font-weight: 400;
            font-style: normal;

            a {
                color: #E4EEF1;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: 16.9vh;
    }
    
    .secaoLogo{
        width: 100%;
        
        h1 {
            width: 48%;
            font-size: 30px;
        }
    }
    
    .secaoNav{
        width: 100%;
        height: 10vh;
        border-top: solid #bb2a17;
        border-bottom: solid #bb2a17;
        
        ul {
            height: 7vh;
            
            li {
                font-size: 30px;
                
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    header {
        height: 10vh;
    }

    .secaoLogo {
        width: 40%;

        h1 {
            font-size: 36px;
        }
    }
    
    .secaoNav {
        width: 53%;

    }
}