footer {
    background-image: url('../../assets/estrelaNeve.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #8B1414;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 16vh;

}

.secaoNav {
    width: 15%;
    
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        .cardIcones {
            width: 100%;
            height: 7vh;
        }
    }
}

.DireitosAutorais {
    color: #E4EEF1;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    height: 14vh;

    p {
        text-align: center;
        font-size: 15px;
        font-family: 'Inter', serif;
    }
}

.presentes {
    height: 15vh;
    
    img {
        height: 14vh;
    }
}

@media (max-width: 768px) {

    footer{
        flex-direction: row;
        height: 28vh;
    }

    .secaoNav{
        width: 30%;

        ul{
            flex-direction: column;
            width: 20vw;
            height: 25vh;
        }
    }

    .DireitosAutorais{
        width: 100%;
        height: 20vh;
        margin-left: 2%;
        
        p{
            font-size: 14px;
            height: 4vh;
        }

        .fonte {
            width: 50vw;
            height: 7vh;
        }
    }

    .presentes {
        width: 100%;
        height: 13vh;

        img {
            width: 18vw;
            height: 13vh;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
    footer {
        height: 15vh;
    }
    
    .secaoNav {
        width: 38%;
        
    }

    .DireitosAutorais {
        height: 8vh;
    }

    .presentes {
        height: 15vh;

        img {
            height: 14vh;
        }
    }

}